* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    background-color: rgb(22, 76, 107);
}

main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    margin: auto;
    padding: 20px;
    height: 300px;
    max-width: 400px;
}

.campor {
    text-align: right;
    background-color: white;
    margin: 10px 30px;
    padding: 10px 20px;
}

.button {
    background-color: rgb(53, 53, 53);
    color: white;
    width: 70px;
    height: 30px;

    margin: 8px 8px;    
    padding: 10px 20px;
}

.button:hover {
    background-color:  rgba(53, 53, 53, 0.61);
}

.buttonopera {
    background-color: orangered;
    color: white;
    width: 70px;
    height: 30px;

    margin: 8px 8px;    
    padding: 10px 20px;
}

.buttonopera:hover {
    background-color: rgba(255, 68, 0, 0.514);
}

.buttonfunc {
    background-color: rgb(90, 90, 90);
    color: white;
    width: 70px;
    height: 30px;

    margin: 8px 8px;    
    padding: 10px 20px;
}

.buttonfunc:hover {
    background-color:  rgba(90, 90, 90, 0.527);
}