* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    background-color: rgb(22, 76, 107);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    text-align: center;
    background-color: black;

    margin-top: 50px;
    border-radius: 10px;
    padding: 30px;

    height: 400px;
    width: 300px;
}

.campor {
    text-align: right;
    background-color: white;
    padding: 10px ;

    width: auto;
    height: 30px;
}

.numeros {
    font-size: 60px;
}

.button {
    background-color: rgb(53, 53, 53);
    color: white;

    min-width: 60px;
    min-height: 40px;

    margin: 3px 1px;
}

.button:hover {
    background-color:  rgba(53, 53, 53, 0.61);
}

.buttonopera {
    background-color: orangered;
    color: white;

    min-width: 60px;
    min-height: 40px;

    margin: 3px 1px;
}

.buttonopera:hover {
    background-color: rgba(255, 68, 0, 0.514);
}

.buttonfunc {
    background-color: rgb(90, 90, 90);
    color: white;

    min-width: 60px;
    min-height: 40px;

    margin: 3px 1px;
}

.buttonfunc:hover {
    background-color:  rgba(90, 90, 90, 0.527);
}